@model IEnumerable<RubikBook.Database.Models.Product>

<!--book new add-->




<div class="container text-center mt-5">
    <div class="row justify-content-md-center">

        @foreach (var item in Model)
        {



                var price = item.Price;
                var sellOff = item.SellOff;
                var finallyPrice = price - (price * sellOff) / 100;



        <div id="products" class="product-card items">

            <div class="main-images">
                <img id="blue" class="blue active"
                     src="~/Image/Product/@item.Img"
                     alt="blue">
            </div>

            <br>
            <div class="shoe-details">
                <span class="shoe_name">@item.ProductName</span>
                <hr>
            </div>

            <div class="group-price">
                <div class="group-option">
                    <span class="group">دسته بندی: @item.Group.GroupName </span>
                </div>
                <div class="price">
                        <h6 class="text-danger"><s class="price_num">@item.Price.ToString("n0")</s></h6>
                        <span class="price_num1">@finallyPrice.ToString("n0")</span>
                    <span class="price_letter">@item.Author.AuthorName</span>

                    @if (item.SellOff > 0)
                        {
                            <div class="ribbon ribbon-top-left"><span>تخفیف %@item.SellOff</span></div>
                        }
                    </div>
                </div>
                <a asp-controller="home" asp-action="ProductInfo" asp-route-id="@item.Id" class="btn1 btn btn-outline-success">اطلاعات بیشتر</a>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="Add('@(item.Id)')" asp-action="AddShoppingFromIndexPartial" asp-route-id="@item.Id" class="btn btn-success icon-shopping_cart text-white"></a>
            </div>
        }

    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>*@
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="modal-body">
                ...
            </div>
            @*  <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>





<script>



    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })


    function Add(ProductId) {
        $.ajax({
            url: '/Home/AddShoppingFromIndexPartial',
            type: 'get',
            data: {/*controller parameter*/  id: ProductId /*send parameter*/ },
            success: (result) => {
                document.getElementById('modalBody').innerHTML = result;
            }
        })
    }



</script>

